
<div  class="full-height-section">
    <div class="full-height-tablecell">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="error-text">
            <h1>Oops! Not Found.</h1>
            <img class="img-fluid" src="../../../../assets/images/green-smartwatch.png">
           
            <p>The page you requested for is not found.</p>
            <a  class="circle-btn"  routerLink = "/profile">Back to profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>