<section class="pt-4 pt-md-11 mt-5 mb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">

          <!-- Image -->
          <img src="../../../../assets/images/showcase-3.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">

        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

          <!-- Heading -->
          <h6 class="display-6 text-center text-md-start">
            Welcome to <span class="text-primary">SmartWatch</span>. <br>
            Develop anything.
          </h6>

          <!-- Text -->
          <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>

          <!-- Buttons -->
          <div class="text-center text-md-start">
            <a href="overview.html" class="btn btn-primary shadow lift me-1">
              View all Products <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
            </a>
            <a href="docs/index.html" class="btn btn-primary-soft lift">
              Documentation
            </a>
          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
  <section class="unique-feature-area section-gap" id="unique">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Some Features that Made us Unique</h1>
                    <p class="snall-txt">Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-unique-product">
                    <img class="img-fluid" src="../../../../assets/images/u1.jpg" alt="">
                    <div class="desc">
                        <h4>
                            Apple Watch White
                        </h4>
                        <h6>£399.00</h6>
                        <a class="text-uppercase primary-btn" href="#">Pre Order</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-unique-product">
                    <img class="img-fluid" src="../../../../assets/images/u2.jpg" alt="">
                    <div class="desc">
                        <h4>
                            Apple Watch White
                        </h4>
                        <h6>£399.00</h6>
                        <a class="text-uppercase primary-btn" href="#">Pre Order</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-unique-product">
                    <img class="img-fluid" src="../../../../assets/images/u3.jpg" alt="">
                    <div class="desc">
                        <h4>
                            Apple Watch White
                        </h4>
                        <h6>£399.00</h6>
                        <a class="text-uppercase primary-btn" href="#">Pre Order</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-unique-product">
                    <img class="img-fluid" src="../../../../assets/images/u4.jpg" alt="">
                    <div class="desc">
                        <h4>
                            Apple Watch White
                        </h4>
                        <h6>£399.00</h6>
                        <a class="text-uppercase primary-btn" href="#">Pre Order</a>
                    </div>
                </div>
            </div>																		
        </div>
    </div>	
</section>
